@import './_black/button__desktop_black.css';
.button__desktop {
  box-sizing: border-box;
  padding: 12px 13px;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  background: transparent;
  color: #FFFFFF;
}