@import './__auth/button__auth.css';
@import './__auth-on/button__auth-on.css';
@import './__search/button__search.css';
@import './__bookmark/button__bookmark.css';
@import './__delete/button__delete.css';
@import './__desktop/button__desktop.css';
@import './__more/button__more.css';
@import './__active/button__active.css';
@import './__disabled/button__disabled.css';

.button {
  cursor: pointer;
  opacity: 1;
  transition: ease-in .5;
}

.button:hover{
  opacity: .9;
}