@import './_black/header__text-log_black.css';
@import './_white/header__text-log_white.css';

.header__text-log {
  text-decoration: none;
  z-index: 1;
  font-family: "Robotoslab";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .header__text-log {
    font-size: 20px;
  }
}